body {
    background-color: #000;
    color: #fff;
}

.navbar {
    background-color: #001f3f;
}

.jumbotron {
    background-color: #001f3f;
    color: #fff;
}

.whatsapp-link {
    color: #25D366;
    text-decoration: none;
    font-size: 1.5em;
}

.whatsapp-link img {
    width: 30px;
    margin-right: 10px;
}